input[type="text"].accua_form_value, textarea.accua_form_value {
  width: 95%;
  margin-right: 5%;
}

#accua_forms_edit_page .sidebar-name-arrow {
  display: none !important;
}

#accua_forms_edit_page #widgets-left .widget-holder, #accua_forms_edit_page #widgets-right .widgets-sortables {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  height: 400px;
  min-height: 400px;
}

#accua_forms_edit_page .widget-liquid-left {
  width: 100% !important;
}

#accua_forms_edit_page #widgets-left .widget {
  width: 98% !important;
  margin-bottom: 7px !important;
  float: none !important;
}

.accua-form-widget-scroll-wrapper {
  width: 100% !important;
}

.accua-form-widget-scroll-wrapper .ui-resizable-handle, #accua_form_preview_area_wrapper .ui-resizable-handle {
  background: #ddd;
  bottom: -10px;
  height: 7px;
  border-radius: 3px;
}

.accua-form-widget-scroll-wrapper.ui-resizable > *:first-child {
  min-height: auto !important;
  height: 100% !important;
  max-height: none !important;
  width: auto !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
}

.accua-form-widget-scroll-wrapper > *:first-child p.description {
  padding-top: 5px;
}

#icon-contact-forms-cimatti-logo {
    background: url("img/cimatti-32-icon.png") no-repeat scroll 0 0 transparent;
}


/* tabs */
#accua_tabs #ul_accua_tabs li.ui-state-active  a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

#accua_tabs #ul_accua_tabs li {
  display: inline;
  font-size: 13px;
  line-height: 37px;
  margin: 0 10px 0 0;
  padding: 12px 15px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
}

#accua_tabs #ul_accua_tabs li a {
  color:#bbb;
  text-decoration:none;  
}

#accua_tabs #ul_accua_tabs li.ui-state-active {
  background: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

#accua_tabs .content_tab {
  background: #fff;
  border: 0px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 10px;
  min-height: 300px;
}

#accua_form_use_ajax .accua_form_value {
    margin-right: 6px;
}

#accua_form_use_ajax, #accua_form_layout {
    clear: both;
    line-height: 25px;
}

#accua_form_layout {
  margin-right: 50px;
  margin-bottom: 9px;
}

#accua_forms_edit_page #accua_tabs {
  position: relative;
  margin-top: 20px;
}

.accua-forms-metabox-holder {
   float: left;
   margin-right: 2%;
   width: 47%;
}

.accua_forms_save_settings_top {
    float: right;
    margin-right: 30px;
    width: 400px;
}

#accua_forms_edit_page #accua_form_save_settings {
  float: left;
  margin-right: 6px;
}

#accua_forms_edit_page form#delete_form {
    float: right;
    margin-left: 6px;
}

#accua_forms_edit_page form#delete_form input {
    background: none;
    border: none;
    color: red;
    text-decoration: underline;
    cursor:pointer;
}

#accua_forms_edit_page form#delete_form input:hover {
  background:red;
  color:#fff;
}

#accua_tab_messages .defalut_content_message,
#accua_tab_preview .defalut_content_message {
  background: #fff;
  border: 1px solid #ddd;
  margin-top: 10px;
  padding: 20px;
}

#accua_tab_messages .defalut_message,
#accua_tab_preview .defalut_message {
  padding-top:20px;
}

#accua_tab_messages #dashboard_right_now a.insert-media,
#accua_tab_preview #dashboard_right_now a.insert-media {
    float: none;
    top: 0;
}

#accua_tab_messages .wp-editor-wrap,
#accua_tab_preview  .wp-editor-wrap {
    margin-top: 10px;
}

#accua_tab_messages .label_input,
#accua_tab_preview .label_input {
    display: block;
    line-height: 27px;
    margin-bottom: 9px;
    width: 100%;
    float: left;
}

#accua_tab_messages .label_input label,
#accua_tab_preview .label_input label {
    float: left;
    margin-right: 10px;
    width: 20%;
}

#accua_tab_messages .label_input input.accua_form_value[type="text"],
#accua_tab_preview .label_input input.accua_form_value[type="text"] {
    float: left;
    width: 45%;
}

#accua_tab_messages input.accua_form_check_override[type="checkbox"],
#accua_tab_preview input.accua_form_check_override[type="checkbox"] {
    margin-right: 5px;
}

#accua_tab_messages input[value="1"][type="radio"], #accua_tab_messages input[value="-1"][type="radio"] {
    margin-left: 20px;
}

#accua_tab_messages .accua_form_value[disabled],
#accua_tab_preview .accua_form_value[disabled] {
    color: #BBBBBB;
}

#accua_tab_messages .default_value,
#accua_tab_preview .default_value {
    border: 1px solid #ddd;
    color: #999;
    float: left;
    line-height: 22px;
    min-height: 21px;
    margin: 1px 5% 1px 0;
    padding-left: 1%;
    padding-right: 1%;
    width: 43%;
}

#accua_tab_preview .wp-picker-container {
    border: 1px solid trasparent;
    float: left;
    margin: 1px 5% 1px 0;
    padding-left: 1%;
    padding-right: 1%;
    width: 43%;
}

#accua_tab_messages .postbox {
    min-height: 400px;
}

#accua-forms-list-filter th.column-submissions a span {
  float:none;
}


#accua-forms-list-filter th.column-submissions .sorting-indicator {
  float:right;
}

#accua_form_preview_area_wrapper {
  border: 1px solid #DDDDDD;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 300px;
  min-height: 150px;
  height: 400px;
}

#accua_form_preview_area {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

#accua_forms_edit_page .#dialog_token {
   padding: 0 20px 20px;
}

#accua_forms_edit_page .defalut_content_message {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.accua_forms_admin_page textarea {
  resize: vertical;
}
